head
  title= title
  link(
    rel="stylesheet",
    href="../../css/mdbootstrap/bootstrap.min.css"
  )
  link(
    rel="stylesheet",
    href="../../css/mdbootstrap/mdb.min.css"
  )
  link(
    rel="stylesheet",
    href="../../css/main.css"
  )
